<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="f['username'].errors?.['required']">Username is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="f['password'].errors?.['required']">Password is required.</mat-error>
      <mat-error *ngIf="f['password'].errors?.['minlength']">Password must be at least 8 characters long.</mat-error>
      <mat-error *ngIf="f['password'].errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one number.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Sign Up</button>
  </form>
</div>